@import '../../../../styles/variables';

/* Default styles for mobile devices and above */
.recommended-section {
  min-height: fit-content;
  height: auto;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $gray_bg;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;



  h2 {
    margin: 1.7rem auto;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1.7rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}




/*  (min-width: 768px) and above */
@media (min-width: 768px) {}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {}