@import '../../../../styles/variables';

.subtypes_section {
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  background-color: $gray_bg;

  h2 {
    margin: 1rem auto;
    font-weight: lighter;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  p {
    color: rgb(46, 46, 46);
    margin-bottom: 2rem;
  }

  .subtype-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 9rem;
    width: 9rem;
    min-width: 9rem;
    aspect-ratio: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 0.8rem;
    cursor: pointer;
    transition: scale 0.2s ease-out;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    &:hover {
      scale: 1.05;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .image-box {
      height: 75%;
      min-height: 75%;
      max-height: 75%;
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .subtype-info {
      height: 25%;
      max-height: 25%;
      min-height: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      color: rgb(24, 24, 24);

      .label {
        color: black;
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }

      .count {
        color: rgb(75, 75, 75);
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
      }
    }
  }
}