@import '@/styles/_variables.scss';

/* Default styles for mobile devices and above */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.84rem;
  background-color: white;
  z-index: 50;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;




  .nav-container {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  .nav-left {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .logo-container {
    width: fit-content;
    padding: 0;

    .header-logo {
      padding: 0;
      font-weight: normal;
      font-size: 0.6rem;
      color: gray;
      max-width: fit-content;
      text-align: right;

      figure {
        margin: 0;

        figcaption {
          font-size: 0.6rem;
        }
      }

      .logo-img {
        width: 8.5rem;
      }

      span {
        color: black;
        font-style: italic;
        font-weight: bolder;

      }
    }
  }

  .nav-items-container {
    width: fit-content;
    display: flex;
    align-items: center;


    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;

      .language {
        display: none;
      }

      .links {
        display: none;
      }

      .vehicles {
        display: none;
      }

      .locations {
        margin-right: 2rem;
      }

      .list-btn {
        display: none;
      }
    }

    // .hamburger-btn
    .hamburger-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      outline: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .hamburger-icon {
        width: 1.6rem;
        height: 1.6rem;
        transition: color 100ms ease-in;
        margin-bottom: 4px;

        &:hover {
          color: $yellow;
        }
      }

      &:hover .hamburger-icon {
        color: $yellow;
      }
    }

    .nav-item {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      color: gray;
      font-weight: lighter;
      column-gap: 5px;

      .nav-items-icon {
        scale: 1.3;
        color: $orange;
      }

      .custom {
        scale: 1.6;
      }

      span {
        color: black;
        font-weight: 600;
      }
    }
  }



  .black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    transition: all 3s ease;
  }



}

/*  (min-width: 768px) and above */
@media (min-width: 768px) {
  .header {
    .logo-container {
      .header-logo {

        figure {
          figcaption {
            font-size: 0.7rem;
          }
        }

        .logo-img {
          width: 10rem;
        }
      }
    }

    .hamburger-btn {
      .hamburger-icon {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}

/* (min-width: 1024px) and above */
@media (min-width: 1024px) {
  .header {

    .nav-items-container {
      ul {
        .language {
          display: block;
        }

        .links {
          display: block;
        }

        .list-btn {
          display: block;
        }

        .vehicles {
          display: block;
        }
      }

      .hamburger-btn {
        display: none;
      }
    }


  }
}